<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>5Digital Thank You Page!</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			}; if (!f._fbq) f._fbq = n;
			n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
		}(window,
			document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1782363558696861', {
			em: 'insert_email_variable,'
		});
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1" /></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->

	<!-- Start of Zoho Pixel Code -->
	<script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
	</script>
	<!-- End of Zoho Pixel Code -->

	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '406457143088640');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1" />
	</noscript>
	<!-- End Facebook Pixel Code -->

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TG7NV3J');</script>
	<!-- End Google Tag Manager -->

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">


	<link href="/common-css/ionicons.css" rel="stylesheet">


	<link rel="stylesheet" href="/common-css/jquery.classycountdown.css" />

	<link href="/comming-soon/css/styles.css" rel="stylesheet">

	<link href="/comming-soon/css/responsive.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/images/fav-icon.png">

</head>

<body>

	<div class="main-area-wrapper" style="background-image:url(/images/digital.jpg);">
		<div class="main-area center-text">

			<div class="display-table">
				<div class="display-table-cell">
					<img src="/images/mainlogo.png" style="width:190px">
					<h1 class="title"><b>Thank You!</b></h1>
					<p class="desc font-white">Congratulations you've just puchased our social media graphics kits. A
						member of our team will get in touch with you shortly.
						If within 2 Days of payment you have not been contacted kindly reach out to us via our email
						<span style="color:#ffc122"><a
								href="mailto:hello@5digitalmarketing.com">hello@5digitalmarketing.com</a></span>
					</p>

					<!-- <div id="normal-countdown" data-date="2018/01/01"></div> -->

					<!-- <a class="notify-btn" href="#"><b>NOTIFY US</b></a> -->

					<ul class="social-btn">
						<li class="list-heading">Follow us for update</li>
						<li><a href="https://www.facebook.com/5digitalmarketing" target="_blank"><i
									class="ion-social-facebook"></i></a></li>
						<li><a href="https://twitter.com/5digitalmarket1" target="_blank"><i
									class="ion-social-twitter"></i></a></li>
						<!-- <li><a href="#"><i class="ion-social-linkedin"></i></a></li> -->
						<li><a href="https://www.instagram.com/5digitalmarketing/" target="_blank"><i
									class="ion-social-instagram-outline"></i></a></li>
						<!-- <li><a href="#"><i class="ion-social-pinterest"></i></a></li> -->
					</ul>

				</div><!-- display-table -->
			</div><!-- display-table-cell -->
		</div><!-- main-area -->
	</div><!-- main-area-wrapper -->


	<!-- SCIPTS -->

	<script src="/common-js/jquery-3.1.1.min.js"></script>

	<script src="/common-js/jquery.countdown.min.js"></script>

	<script src="/common-js/scripts.js"></script>

</body>

</html>