<!-- #buynow -->
<div id="buynow" class="text-white padding-top40 padding-bottom40" style="background: #e66000">

    <!-- .container -->
    <div class="container">

        <div class="affa-call-action">
            <h2>Take the next step now!!!</h2>
            <a href="/new-project" class="btn-custom btn-border btn-white">Start a Project</a>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- #buynow -->

<footer id="footer" class="footer-6" style="background: #0d000f; border-bottom: 5px solid #42004e">

    <!-- .container -->
    <div class="container">

        <div class="footer-socials2">
            <ul>
                <li><a href="https://www.facebook.com/5digitalmarketing" style="border-left: 1px solid #fff; padding-left: 20px"
                    target="_blank" title="5 Digital Marketing"><i class="ion ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/5digitalmarket1" target="_blank" title="5 Digital Marketing"><i
                    class="ion ion-social-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/5digitalmarketing" target="_blank" title="5 Digital Marketing"><i
                    class="ion ion-social-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/5Digitalmarketing" target="_blank" title="5 Digital Marketing"><i
                    class="ion ion-social-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com/5Digitalmarketing" target="_blank" title="5 Digital Marketing"><i
                    class="ion ion-social-youtube"></i></a></li>
            </ul>
        </div>

        <div class="footer-logo">
            <img src="images/5digital_logo.png" alt="5 Digital Marketing">
        </div>

        <p>&copy; <?php echo date('Y'); ?> 5 Digital Marketing. All Right Reserved</p>

    </div>
    <!-- .container end -->

</footer>