
<!-- #nav-mobile -->
<nav id="nav-mobile">
    <div class="scrollbar-inner">

        <button type="button" class="navbar-btn-close"><i class="ion ion-close"></i>Close</button>

        <div class="navbar-menu">
            <ul class="nav">

                <li class="menu-item"><a href="/about">About</a></li>
                <!--                    <li class="menu-item current-menu-item"><a href="#">About</a></li>-->

                <li class="menu-item">
                    <a href="/services">Service</a><span>+</span>
                    <!--                    <ul class="sub-menu">-->
                    <!--                        <li class="menu-item"><a href="web_design.php">Web Design</a></li>-->
                    <!--                        <li class="menu-item menu-item-has-children"><a href="#">Digital Marketing</a>-->
                    <!--                            <ul class="sub-menu">-->
                    <!--                                <li class="menu-item"><a href="social_media_marketing.php">Social Media Marketing</a></li>-->
                    <!--                                <li class="menu-item"><a href="seo.php">Search Engine Optimization (SEO)</a></li>-->
                    <!--                                <li class="menu-item"><a href="pay_per_click.php">Pay Per Click</a></li>-->
                    <!--                                <li class="menu-item"><a href="email_marketing">Email Marketing</a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->
                    <!--                        <li class="menu-item"><a href="branding.php">Branding</a></li>-->
                    <!--                    </ul>-->
                </li>
                <li class="menu-item"><a href="http://www.5digitalmarketing.com/blog/">Blog</a></li>
                <li class="menu-item"><a href="/contact">Contact</a></li>

                <li class="menu-item"><a href="/login">Login</a>/<a href="/register">Sign Up</a></li>

            </ul>
        </div>

    </div>
</nav>
<!-- #nav-mobile end -->

<!-- #body-wrap -->
<div id="body-wrap">

    <!-- #header -->
    <header id="header" class="header-page">

        <!-- #nav-mobile-top -->
        <div id="nav-mobile-top">

            <!-- .container -->
            <div class="container-fluid">
                <div class="navmenu">

                    <button type="button" class="navbar-btn-toggle"><i class="ion ion-navicon"></i></button>

                    <div class="navbar-logo">
                            <a href="/"><img src="images/5digital_logo.png" style="height: 40px"
                                alt="5 Digital Marketing"></a>
                        <!-- site logo -->
                    </div>

                    <div class="navbar-secondary">
                        <div class="navbar-btn">
                            <a href="/new-project" class="btn-cart"><i class="ion ion-ios-gear"></i></a>
                        </div>

                    </div>

                </div>
            </div>
            <!-- .container end -->

        </div>
        <!-- #nav-mobile-top end -->

        <!-- #navigation -->
        <nav id="navigation">

            <!-- .navtop -->
            <div class="navtop">

                <!-- .container -->
                <div class="container">

                    <div class="nav-txt">
                        <p><i class="ion ion-android-phone-portrait"></i> Have Questions? Call Us: <strong><a
                                    href="callto:+2348038702279">0809 870 2279</a>
                                    <!-- <a
                                    href="callto:+2349061898616">0906 189 8616</a></strong></p> -->
                    </div>

                    <div class="nav-socials">
                        <a href="/login" style="color: #f0ad4e">Login</a><a href="/register"
                            style="color: #f0ad4e; border-left: 1px solid #fff; padding-left: 20px">Register</a>
                        <a href="https://www.facebook.com/5digitalmarketing" style="border-left: 1px solid #fff; padding-left: 20px"
                            target="_blank" title="5 Digital Marketing"><i class="ion ion-social-facebook"></i></a>
                        <a href="https://twitter.com/5digitalmarket1" target="_blank" title="5 Digital Marketing"><i
                                class="ion ion-social-twitter"></i></a>
                        <a href="https://www.instagram.com/5digitalmarketing" target="_blank" title="5 Digital Marketing"><i
                            class="ion ion-social-instagram"></i></a>
                        <a href="https://www.linkedin.com/5Digitalmarketing" target="_blank" title="5 Digital Marketing"><i
                            class="ion ion-social-linkedin"></i></a>
                        <a href="https://www.youtube.com/5Digitalmarketing" target="_blank" title="5 Digital Marketing"><i
                            class="ion ion-social-youtube"></i></a>
                    </div>

                </div>
                <!-- .container end -->

            </div>
            <!-- .navtop end -->

            <!-- .navbar -->
            <div class="navbar">

                <!-- .container -->
                <div class="container">
                    <div class="navbar-wrap">

                        <div class="navbar-logo">
                            <a href="/"><img src="images/5digital_logo.png" style="height: 70px"
                                    alt="5 Digital Marketing"></a> <!-- site logo -->
                        </div>

                        <div class="navbar-menu">
                            <ul class="nav">
                                <li class="menu-item"><a href="/about">About</a></li>

                                <li class="menu-item">
                                    <a href="/services">Services</a>
                                    <!--                                    <ul class="sub-menu">-->
                                    <!--                                        <li class="menu-item"><a href="web_design.php">Web Design</a></li>-->
                                    <!--                                        <li class="menu-item menu-item-has-children"><a href="#">Digital Marketing</a>-->
                                    <!--                                            <ul class="sub-menu">-->
                                    <!--                                                <li class="menu-item"><a href="social_media_marketing.php">Social Media Marketing</a></li>-->
                                    <!--                                                <li class="menu-item"><a href="seo.php">Search Engine Optimization (SEO)</a></li>-->
                                    <!--                                                <li class="menu-item"><a href="pay_per_click.php">Pay Per Click</a></li>-->
                                    <!--                                                <li class="menu-item"><a href="email_marketing.php">Email Marketing</a></li>-->
                                    <!--                                            </ul>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li class="menu-item"><a href="branding.php">Branding</a></li>-->
                                    <!--                                    </ul>-->
                                </li>
                                <!--                                <li class="menu-item -->
                                <!--"><a href="blog.php">Blog</a></li>-->
                                <li class="menu-item"><a href="/contact">Contact</a></li>
                                <li class="menu-item"><a href="http://www.5digitalmarketing.com/blog/">Blog</a></li>
                                <!-- <li class="menu-item"><a href="/login">Login</a>/<a href="/register">Sign Up</a></li> -->
                            </ul>
                            <div class="navbar-secondary">
                                <div class="navbar-btn">
                                    <button onclick="window.location='/new-project'"
                                        class="btn-icon btn-orange btn-sm"><i class="ion ion-android-settings"></i>
                                        Start a Project</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- .container end -->

            </div>
            <!-- .navbar end -->

        </nav>
        <!-- #navigation end -->

        <% if (error.length > 0){ %>

            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Success</span>
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <% } %>
            
            <% if (success.length > 0){ %>
            
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                        <span class="badge badge-pill badge-success">Success</span>
                        <%= success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            
            <% } %>