<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->


<!-- Mirrored from affapress.com/templates/unicom_responsive_multi_purpose_template/html/page-contact-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2017 12:04:27 GMT -->

<head>

    <!-- Your Basic Site Informations -->
    <title>About Us | Nigerian Web Designers Nigerian Web Design Nigeria portharcourt</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="5 Digital Marketing is a Nigeria&#039;s long established web design and digital marketing agency, award winning web design and development, high-end professional website design, Ecommerce and CMS systems as well as branding and graphic design solutions for the private and public sector">
    <meta name="keywords"
        content=" best website designers in nigeria,best website designers in portharcourt ,web site design, website design, where to print in portharcourt,Facebook marketing in Nigeria,logo design,SEO,cms builders in nigeria, content management system builders in nigeria,">
    <meta name="author" content="5 Digital Marketing">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>
        <link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1782363558696861', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '406457143088640'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Start of Zoho Pixel Code -->
    <script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
    </script>
    <!-- End of Zoho Pixel Code -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


</head>

<body>


    <!-- Header Start -->
    <% include ../partials/header %>
    <!-- Header End -->

    <!-- .sub-header -->
    <div class="sub-header">

        <!-- .container -->
        <div class="container">

            <h4 class="header-title">About Us</h4>
            <div class="breadcrumbs">
                <a href="/">Home</a> <span class="sep">/</span> <span class="current">About Us</span>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- .sub-header end -->

    </header>
    <!-- #header end -->

    <!-- #content -->
    <div id="content">

        <!-- .container -->
        <div class="container padding-top80 padding-bottom40">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-3">
                    <div class="post-heading-left2">
                        <h4><strong>Overview</strong></h4>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6 margin-bottom40">
                            <p class="margin-bottom0">5 Digital Marketing is an agency of creative and results-driven
                                professionals who are passionate about the success of your business. We are a group of
                                experts who develop general and customized solutions to business challenges across an
                                array of business interests from Digital Marketing to Web Development to Branding to SEO
                                to Print Media to Coding to Independent Consultancy.</p>
                        </div>
                        <div class="col-sm-6 margin-bottom40">
                            <p class="margin-bottom0">The 5 Digital Marketing team is a rich blend of specialists from
                                the academia, entrepreneurial and enterprise backgrounds, so whatever your business
                                model is, we have the right experience for it.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .row -->

        </div>
        <!-- .container end -->

        <div id="features3" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080"
            data-image-src="images/content/bg/1.jpg">
            <div class="bg-dark-overlay90 text-white padding-top100 padding-bottom60">

                <!-- .container -->
                <div class="container">

                    <!-- .row -->
                    <div class="row">

                        <!-- .col -->
                        <div class="col-sm-6">

                            <h4 class="text-uppercase margin-bottom40">Why Choose Us?</h4>

                            <div class="panel-group affa-panel-group margin-bottom40" id="accordion" role="tablist"
                                aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">Creative Solutions</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>Part of our edge as a business is creative intelligence. Beyond
                                                approaching your business from a problem-solving perspective,we create
                                                unique solutions to give your business that futuristic edge. To your
                                                current business challenges, we proffer nascent, revised and tested
                                                solutions.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">Timely Delivery</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p> we deliver timely on our projects. At 5 Digital Marketing, our word is
                                                our bond.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">Seasoned Team</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p>5 Digital Marketing boasts of a robust team of globally trained and
                                                internationally exposed professionals with hands-on experience spanning
                                                over a decade. With bankable dedication to duty, you can rest assured
                                                that your projects are in safe hands who pay attention to details.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFourth">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseFourth" aria-expanded="false"
                                                aria-controls="collapseFourth">Proven Expertise</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFourth" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingFourth">
                                        <div class="panel-body">
                                            <p>For over a decade, drawing from the synergy of our combined expertise, we
                                                have served a wide array of clients through our rich business portfolio
                                                from Web Design to Digital Marketing to Independent Consulting. So
                                                whichever aspect of our business provides you with service(s), you can
                                                rest assured that we are bringing a wealth of experience to give you the
                                                results you desire and much more.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">Client Care/Support</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingFive">
                                        <div class="panel-body">
                                            <p>We are an enthusiastic company with friendly staff. We do not just throw
                                                our products or services at you and leave you to it, we are always a
                                                phone call or an email away to provide you with support all the way,
                                                taking the hassles away so your business can focus on its strengths and
                                                function at its best.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">Optimum Pricing</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingSix">
                                        <div class="panel-body">
                                            <p>We serve our clients through value-addition and our charges are
                                                appreciably commensurate with our value propositions and just about the
                                                best you can get from the best in the industry.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- .col end -->

                        <!-- .col -->
                        <div class="col-sm-6">

                            <h4 class="text-uppercase margin-bottom40">Our Team Skills</h4>

                            <div class="affa-progress-bar">
                                <!-- 1 -->
                                <p>Web Design</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:90%;">90%</div>
                                    <span class="bar-line-val" style="left:90%;"><i>90</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 3 -->
                                <p>Digital Marketing</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:95%;">95%</div>
                                    <span class="bar-line-val" style="left:95%;"><i>95</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 4 -->
                                <p>Coding</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:90%;">90%</div>
                                    <span class="bar-line-val" style="left:90%;"><i>90</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 5 -->
                                <p>Content Development</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:80%;">80%</div>
                                    <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 5 -->
                                <p>Project Management</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:80%;">80%</div>
                                    <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 5 -->
                                <p>Independent Consulting</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:80%;">80%</div>
                                    <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                                </div>
                            </div>

                        </div>
                        <!-- .col end -->

                    </div>
                    <!-- .row end -->

                </div>
                <!-- .container end -->

            </div>
        </div>

        <div class="bg-white padding-top80 padding-bottom40">

            <!-- .container -->
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="post-heading-left2">
                            <h4><strong>Our Values</strong></h4>
                        </div>
                    </div>

                    <!-- .col -->
                    <div class="col-sm-9">

                        <!-- .row -->
                        <div class="row">

                            <div class="col-sm-6 margin-bottom30">
                                <!-- 1 -->
                                <h5 class="margin-bottom10">Empathy</h5>
                                <p class="margin-bottom0">We listen to your business seeking first to understand you so
                                    as to proffer tailor-fitted solutions with far-reaching, measurable impact. While
                                    our primary goal is to positively impact your bottom-line, seeking to understand you
                                    is the first, fundamental step in all our business relations.</p>
                            </div>

                            <div class="col-sm-6 margin-bottom30">
                                <!-- 2 -->
                                <h5 class="margin-bottom10">Excellence</h5>
                                <p class="margin-bottom0">Our robust experts-base ensures that every project we embark
                                    on goes through several vetting stages to deliver exceptional products and services
                                    because your business deserves the best.</p>
                            </div>

                        </div>
                        <!-- .row end -->

                        <!-- .row -->
                        <div class="row">

                            <div class="col-sm-6 margin-bottom30">
                                <!-- 3 -->
                                <h5 class="margin-bottom10">Teamwork</h5>
                                <p class="margin-bottom0">The 5 Digital Marketing team is a group of experts who have
                                    bonded together through several projects. This bond reflects on your business as a
                                    system of check-layers to ensure excellence irrespective of what business interest
                                    we are handling per time.</p>
                            </div>

                            <div class="col-sm-6 margin-bottom30">
                                <!-- 4 -->
                                <h5 class="margin-bottom10">Results</h5>
                                <p class="margin-bottom0">Once a project is conceptualized at 5 Digital Marketing,
                                    resources are mobilized to one end and one end only &#8211; results! With such
                                    focus, you are assured of timely delivery and fulfillment of pre-agreed terms of
                                    projects you commit to our trust.</p>
                            </div>

                        </div>
                        <!-- .row end -->

                        <!-- .row -->
                        <div class="row padding-bottom10">

                            <div class="col-sm-12 margin-bottom30">
                                <!-- 5 -->
                                <h5 class="margin-bottom10">Integrity</h5>
                                <p class="margin-bottom0">At 5 Digital Marketing, our word is our bond &#8211; we
                                    deliver on our promises.</p>
                            </div>

                            <!--<div class="col-sm-6 margin-bottom30">
                            <h5 class="margin-bottom10">Creative Solutions</h5>
                            <p class="margin-bottom0">Lorem ipsum dolor amet, consectetur dipiscing elit nun aenean ut euismod magna donec sem. Aenean pulvinar odio non sapien tincidunt pellentesque.</p>
                        </div>-->

                        </div>
                        <!-- .row end -->

                    </div>
                    <!-- .col end -->

                </div>
                <!-- .row -->
            </div>
            <!-- .container end -->

        </div>
        <!-- .bg-white end -->



    </div>
    <!-- #content end -->


    <!-- Footer Start -->
    <% include ../partials/footer %>
    <!-- Footer End -->

    </div>
    <!-- #body-wrap end -->

    <a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


    <!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/response.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>



</body>

</html>