<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <!-- Your Basic Site Informations -->
    <title>Welcome | 5 Digital Digital.How can we make your life simpler today?</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="5 Digital is a digital marketing agency with hands on experience in responsive web design,logos and corporate branding .">
    <meta name="keywords"
        content="facebook marketing agency, search engine optimization in nigeria,  top website design in nigeria,best digital marketing agency in nigeria,  best website designers in portharcourt,logo design,web design,">
    <meta name="author" content="5 Digital">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->

    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->

    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>
        <link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1782363558696861', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '406457143088640'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Start of Zoho Pixel Code -->
    <script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
    </script>
    <!-- End of Zoho Pixel Code -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


</head>

<body>

    <!-- Header Start -->
    <% include ../partials/header %>
    <!-- Header End -->

    <!-- .carousel-slider -->
    <div class="carousel-slider general-slider2-autoplay">

        <div class="header-content5">
            <!-- 1 -->
            <div class="header-content-wrap">
                <div class="container">
                    <div class="slide-layer header-content-txt bg-dark-overlay70 text-white animation"
                        data-animation="animation-fade-in-left">
                        <p style="font-size: 20px">Good Business needs a great website</p>
                        <h4>Mark your online <br>presence in style</h4>
                        <div class="margin-bottom20-lg"></div>
                        <input name="button" class="btn-pink" value="Learn More" style="margin:0px 10px 10px 0px;"
                            type="button" onclick="window.location.href = '/web-design';">
                    </div>
                </div>
            </div>
            <figure><img src="images/content/sliders/web_design.jpeg" alt="Image"></figure>
        </div>

        <div class="header-content5 header-content-right">
            <!-- 3 -->
            <div class="header-content-wrap">
                <div class="container">
                    <div class="slide-layer header-content-txt bg-dark-overlay70 text-white animation"
                        data-animation="animation-fade-in-right">
                        <h4 style="margin-bottom: 0">DIGITAL MARKETING</h4>
                        <p style="font-size: 20px; margin-top: 0">Its not just about a website. <br>It's about getting
                            people there.</p>
                        <div class="margin-bottom20-lg"></div>
                        <input name="button" class="btn-pink" value="Learn More" style="margin:0px 10px 10px 0px;"
                            type="button" onclick="window.location.href = '/digital-market';">
                    </div>
                </div>
            </div>
            <figure><img src="images/content/sliders/digital_marketing.jpg" alt="Image"></figure>
        </div>

        <div class="header-content5">
            <!-- 1 -->
            <div class="header-content-wrap">
                <div class="container">
                    <div class="slide-layer header-content-txt bg-dark-overlay70 text-white animation"
                        data-animation="animation-fade-in-left">
                        <h4 style="margin-bottom: 0">Want to brand <br>your business</h4>
                        <p style="font-size: 20px; margin-top: 0">We can effectively brand your business</p>
                        <div class="margin-bottom20-lg"></div>
                        <input name="button" class="btn-pink" value="Learn More" style="margin:0px 10px 10px 0px;"
                            type="button" onclick="window.location.href = '/branding';">
                    </div>
                </div>
            </div>
            <figure><img src="images/content/sliders/branding.jpg" alt="Image"></figure>
        </div>

    </div>
    <!-- .carousel-slider end -->

    </header>
    <!-- #header end -->

    <!-- #features -->
    <div id="features" class="section-wrap padding-top80 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-3">
                    <div class="post-heading-left2">
                        <h4><strong>Welcome to 5 Digital Digital</strong></h4>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="row" style="color: #333">
                        <div class="col-sm-6 margin-bottom40">
                            <p class="text-md">5 Digital is an agency of creative and results-driven professionals who are
                                passionate about the success of your business.</p>
                            <p>We are a group of experts who develop general and customized solutions to business
                                challenges across an array of business interests from Digital Marketing to Web
                                Development to Branding to SEOs to Print Media to Coding to Independent Consultancy.</p>
                        </div>
                        <div class="col-sm-6 margin-bottom40">
                            <p class="margin-bottom40">The 5 Digital team is a rich blend of specialists from the academia,
                                entrepreneurial and enterprise backgrounds, so whatever your business model is, we have
                                the right experience for it.</p>
                            <a href="/about" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i
                                    class="ion ion-arrow-right-b"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- #features end -->

    <!-- #portfolio -->
    <div id="portfolio" class="bg-grey padding-top80 padding-bottom80">

        <!-- .container -->
        <div class="container">

            <div class="post-heading-center">
                <h2>What we do</h2>
                <p>We help business oversee many aspects of their company experience by working relentlessly to ensure
                    their vision become a reality.</p>
            </div>

            <!-- .row -->
            <div class="row">

                <div class="col-sm-4">
                    <!-- 1 -->
                    <div class="affa-feature-img">
                        <figure><img src="images/content/bg/web_design_sm.jpg" alt="Web Design"></figure>
                        <h4>Web Design</h4>
                        <p>We make web development amazingly simple from hosting to design, creating engaging websites
                            that project your brand; giving you that signature online presence to move your business
                            higher. </p>
                        <a href="/web-design" class="wei">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <!-- 2 -->
                    <div class="affa-feature-img">
                        <figure><img src="images/content/bg/digital_marketing.jpg" alt="Digital Marketing"></figure>
                        <h4>Digital Marketing</h4>
                        <p>We guide you through the digital waters of online marketing to bring your business to your
                            preferred customers in the shortest time at reduced cost thereby ensuring positive profit
                            for your business. </p>
                        <a href="/digital-market">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <!-- 3 -->
                    <div class="affa-feature-img">
                        <figure><img src="images/content/bg/branding.jpg" alt="Thumbnail"></figure>
                        <h4>Branding</h4>
                        <p>A strong brand enables customers patronize your product and services because it is reliable
                            and trustworthy. 5 Digital Digital will create a unique brand to boost the image of your
                            business.</p>
                        <a href="/branding">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #portfolio end -->
    <div class="affa-col-half text-white" style="background: #42004e">

        <figure class="col-img" style="background-image:url(images/content/bg/why.jpg);"></figure>

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">
                <div class="col-md-6 col-md-offset-6 padding-top80 padding-bottom40">

                    <!-- .row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="margin-bottom: 40px">WHY CHOOSE US</h3>
                        </div>
                        <div class="col-sm-4 col-md-12">
                            <!-- 1 -->
                            <div class="affa-feature-icon-left feature-icon-bg">
                                <i class="ion ion-android-bulb animation" data-animation="animation-fade-in-down"></i>
                                <h4>Creative Solutions</h4>
                                <p>Part of our edge as a business is creative intelligence. Beyond approaching your
                                    business from a problem-solving perspective, we create unique solutions to give your
                                    business that futuristic edge. </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-12">
                            <!-- 2 -->
                            <div class="affa-feature-icon-left feature-icon-bg">
                                <i class="ion ion-flash animation" data-animation="animation-fade-in-down"></i>
                                <h4>Timely Delivery</h4>
                                <p>Barring Force Majeure, we deliver timely on our projects. At 5 Digital, our word is our
                                    bond. Should circumstances arise that compels us to renege on project delivery, we
                                    communicate such to our clients ahead of time to forestall delivery shocks.</p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-12">
                            <!-- 3 -->
                            <div class="affa-feature-icon-left feature-icon-bg">
                                <i class="ion ion-settings animation" data-animation="animation-fade-in-down"></i>
                                <h4>Seasoned Team</h4>
                                <p>5 Digital boasts of a robust team of globally trained and internationally exposed
                                    professionals with hands-on experience spanning over a decade. </p>
                            </div>
                        </div>

                    </div>
                    <!-- .row end -->

                </div>
            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>



    <!-- #features5 -->


    <!-- #testimonials -->
    <div id="testimonials" class="padding-top60 padding-bottom60">

        <!-- .container -->
        <div class="container">

            <!-- .carousel-slider -->
            <div class="carousel-slider carousel-testimonials">

                <div class="slick-slide">
                    <!-- 1 -->
                    <div class="affa-testimonial">
                        <p>"Sisibole relies on 5 Digital Digital for its digital marketing expertise, particularly in the
                            areas of SEO and social media marketing. Their team is knowledgeable, responsive and
                            committed to supporting our initiatives, making them invaluable partners in our effort to
                            promote brand awareness"</p>
                        <h4>Faith Azorbo<span> - CEO, Sisibole</span></h4>
                    </div>
                </div>

                <div class="slick-slide">
                    <!-- 2 -->
                    <div class="affa-testimonial">
                        <p>"5 Digital Digital has been instrumental in increasing our online visibility and lead generation
                            from ad campaigns and organic search. We are continuously impressed with their level of
                            service and consider them a key marketing partner in helping drive our business. They are
                            not only proactive and responsive, but also at the forefront of thought leadership in the
                            search engine marketing space."</p>
                        <h4><span>CEO, Akasa</span></h4>
                    </div>
                </div>

            </div>
            <!-- .carousel-slider end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #testimonials end -->


    <!--<div id="blog" class="bg-grey padding-top80 padding-bottom80">

            <div class="container">
                
                <div class="post-heading-center">
                    <h2>Latest Blog</h2>
                    <p>Aliquam augue ante, tincidunt in condimentum tempus, fringilla a ante pulvinar facilisis. Vivamus tempor porta massa, ipsum vulputate est mollis quis.</p>
                </div>

                <div class="carousel-slider carousel-dots carousel-dots-3col carousel-posts row">
                    
                    <div class="col-sm-4">
                        <div class="affa-post">
                            <figure class="post-thumbnail post-item-thumbnail img-hover2">
                                <a href="#">
                                    <img src="images/content/blog/thumb/1.jpg" alt="Transitions In UX Design">
                                    <div class="overlay-masked">
                                        <i class="ion ion-eye"></i>
                                    </div>
                                </a>
                            </figure>
                            <div class="post-item-txt">
                            	<h4 class="entry-title post-item-title">
                                    <a href="#">Transitions In UX Design</a>
                                </h4>
                                <div class="entry-content post-item-content">
                                    <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                                </div>
                                <div class="entry-meta post-item-meta">
                                	<p>March 10, 2017</p>
                                    <a href="#" class="more-link">readmore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="affa-post">
                            <figure class="post-thumbnail post-item-thumbnail img-hover2">
                                <a href="#">
                                    <img src="images/content/blog/thumb/2.jpg" alt="Supernatural FX Showreel">
                                    <div class="overlay-masked">
                                        <i class="ion ion-eye"></i>
                                    </div>
                                </a>
                            </figure>
                            <div class="post-item-txt">
                            	<h4 class="entry-title post-item-title">
                                    <a href="#">Supernatural FX Showreel</a>
                                </h4>
                                <div class="entry-content post-item-content">
                                    <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                                </div>
                                <div class="entry-meta post-item-meta">
                                	<p>March 10, 2017</p>
                                    <a href="#" class="more-link">readmore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="affa-post">
                            <figure class="post-thumbnail post-item-thumbnail img-hover2">
                                <a href="#">
                                    <img src="images/content/blog/thumb/3.jpg" alt="Recent Storytelling Trends">
                                    <div class="overlay-masked">
                                        <i class="ion ion-eye"></i>
                                    </div>
                                </a>
                            </figure>
                            <div class="post-item-txt">
                            	<h4 class="entry-title post-item-title">
                                    <a href="#">Recent Storytelling Trends</a>
                                </h4>
                                <div class="entry-content post-item-content">
                                    <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                                </div>
                                <div class="entry-meta post-item-meta">
                                	<p>March 10, 2017</p>
                                    <a href="#" class="more-link">readmore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="affa-post">
                            <figure class="post-thumbnail post-item-thumbnail img-hover2">
                                <a href="#">
                                    <img src="images/content/blog/thumb/4.jpg" alt="Portugal 2017 Trip Gallery">
                                    <div class="overlay-masked">
                                        <i class="ion ion-eye"></i>
                                    </div>
                                </a>
                            </figure>
                            <div class="post-item-txt">
                            	<h4 class="entry-title post-item-title">
                                    <a href="#">Portugal 2017 Trip Gallery</a>
                                </h4>
                                <div class="entry-content post-item-content">
                                    <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                                </div>
                                <div class="entry-meta post-item-meta">
                                	<p>March 10, 2017</p>
                                    <a href="#" class="more-link">readmore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="affa-post">
                            <figure class="post-thumbnail post-item-thumbnail img-hover2">
                                <a href="#">
                                    <img src="images/content/blog/thumb/5.jpg" alt="A Quick Status Update">
                                    <div class="overlay-masked">
                                        <i class="ion ion-eye"></i>
                                    </div>
                                </a>
                            </figure>
                            <div class="post-item-txt">
                            	<h4 class="entry-title post-item-title">
                                    <a href="#">A Quick Status Update</a>
                                </h4>
                                <div class="entry-content post-item-content">
                                    <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                                </div>
                                <div class="entry-meta post-item-meta">
                                	<p>March 10, 2017</p>
                                    <a href="#" class="more-link">readmore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="affa-post">
                            <figure class="post-thumbnail post-item-thumbnail img-hover2">
                                <a href="#">
                                    <img src="images/content/blog/thumb/6.jpg" alt="Free Notebook Photos">
                                    <div class="overlay-masked">
                                        <i class="ion ion-eye"></i>
                                    </div>
                                </a>
                            </figure>
                            <div class="post-item-txt">
                            	<h4 class="entry-title post-item-title">
                                    <a href="#">Free Notebook Photos</a>
                                </h4>
                                <div class="entry-content post-item-content">
                                    <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                                </div>
                                <div class="entry-meta post-item-meta">
                                	<p>March 10, 2017</p>
                                    <a href="#" class="more-link">readmore</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                
            </div>

            
        </div>-->



    

    <!-- Footer Start -->
    <% include ../partials/footer %>
    <!-- Footer End -->


    </div>
    <!-- #body-wrap end -->

    <a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/response.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>