<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->


<!-- Mirrored from affapress.com/templates/unicom_responsive_multi_purpose_template/html/page-contact-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2017 12:04:27 GMT -->
<head>

    <!-- Your Basic Site Informations -->
    <title>Login | Nigeria Web Designers Nigeria Web Design Nigeria portharcourt</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="5 Digital Marketing is a Nigeria&#039;s long established web design and digital marketing agency, award winning web design and development, high-end professional website design, Ecommerce and CMS systems as well as branding and graphic design solutions for the private and public sector">
    <meta name="keywords" content="best website designers in nigeria,best website designers in portharcourt ,web site design, website design, where to print in portharcourt,Facebook marketing in Nigeria,logo design,SEO,cms builders in nigeria, content management system builders in nigeria,">
    <meta name="author" content="5 Digital Marketing">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <link href="css/theme.css" rel="stylesheet" media="all">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1782363558696861', {
em: 'insert_email_variable,'
});
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '406457143088640'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

<!-- Start of Zoho Pixel Code -->
<script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
</script>
<!-- End of Zoho Pixel Code -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


</head>
<body>


<!-- Header Start -->
<% include ../partials/header %>
<!-- Header End -->

        

    </header>
    <!-- #header end -->

    <!-- #content -->
    <div id="content">

        <!-- .container -->
        <div class="container padding-top80 padding-bottom40">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Log into your account.</h3>
                </div>
                <div class="panel-body" style="padding: 50px">
                        <% include ../partials/alert %>
                    <form method="post" action="/login">
                        
                        <div class="form-group">
                            <label class="text-muted" for="email">Email
                                Address:</label>
                            <input type="email" class="form-control" id="email"
                                name="email" placeholder="Your Email Address">
                        </div>

                        <div class="form-group">
                            <label class="text-muted" for="password">Password:</label>
                            <input type="password" class="form-control" id="password"
                                name="password" placeholder="Your Password">
                        </div>

                        <div class="checkbox">
                            <label><input type="checkbox"> I accept 5 Digital Digital
                                <a href="/terms" class="text-success"><span
                                        style="color: #78004f"><strong>Terms of
                                            Use</strong></span></a></label>
                        </div>
                        <input type="submit" name="submit" value="submit" />
                    </form>
                    <p>
                        Dont have an account?
                        <a style="color: #78004f" href="/register">Sign Up</a>
                    </p>

                </div>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- #content end -->

    <!-- #buynow -->
    <div id="buynow" class="text-white padding-top40 padding-bottom40" style="background: #e66000">

        <!-- .container -->
        <div class="container">

            <div class="affa-call-action">
                <h2>Take the next step now!!!</h2>
                <a href="new_project.php" class="btn-custom btn-border btn-white">Start a Project</a>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- #buynow -->

    <!-- Footer Start -->
    <% include ../partials/footer %>
    <!-- Footer End -->

</div>
<!-- #body-wrap end -->

<a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


<!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

<!-- JavaScripts -->
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/response.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>

</html>