<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->


<!-- Mirrored from affapress.com/templates/unicom_responsive_multi_purpose_template/html/page-contact-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2017 12:04:27 GMT -->

<head>

    <!-- Your Basic Site Informations -->
    <title>New Project | Nigeria Web Designers Nigeria Web Design Nigeria portharcourt</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="5 Digital is a Nigeria&#039;s long established web design and digital marketing agency, award winning web design and development, high-end professional website design, Ecommerce and CMS systems as well as branding and graphic design solutions for the private and public sector">
    <meta name="keywords"
        content="best website designers in nigeria,best website designers in portharcourt ,web site design, website design, where to print in portharcourt,Facebook marketing in Nigeria,logo design,SEO,cms builders in nigeria, content management system builders in nigeria">
    <meta name="author" content="5 Digital">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <link href="css/theme.css" rel="stylesheet" media="all">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>
        <link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1782363558696861', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '406457143088640'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Start of Zoho Pixel Code -->
    <script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
    </script>
    <!-- End of Zoho Pixel Code -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

</head>

<body>


    <!-- Header Start -->
    <% include ../partials/header %>
    <!-- Header End -->

    <!-- .sub-header -->
    <div class="sub-header">

        <!-- .container -->
        <div class="container">

            <h4 class="header-title">New Project</h4>
            <div class="breadcrumbs">
                <a href="/">Home</a> <span class="sep">/</span> <span class="current">New Project</span>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- .sub-header end -->

    </header>
    <!-- #header end -->

    <!-- #content -->
    <div id="content">

        <div id="features4" class="bg-grey section-wrap padding-top40">

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">

                    <div class="col-sm-12 col-md-11 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <div class="padding-top40-lg  padding-bottom40-sm padding-bottom60-md padding-bottom80-lg margin-bottom80-xs text-center-xs"
                            id="myWizard">
                            <div id="wizard_container">

                                <form name="new-project" id="wrapped" method="POST" action="/new-project">

                                    <div id="middle-wizard">

                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="step1">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-purple" role="progressbar"
                                                        aria-valuenow="1" aria-valuemin="1" aria-valuemax="5"
                                                        style="width: 20%;">
                                                        Step 1 of 4
                                                    </div>
                                                </div>

                                                <hr>

                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">What type of project are you building?
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body" style="padding: 50px">

                                                        <div id="web_design"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <!-- <label for="web_design"> -->
                                                            <img src="images/content/icon/browser.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">Web Design</p>
                                                            <input type="radio" id="projectType" name="projectType"
                                                                value="web_design">
                                                            <!-- </label> -->
                                                        </div>

                                                        <div id="digital_market"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/presentation.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">Digital Marketing</p>
                                                            <input type="radio" id="projectType" name="projectType"
                                                                value="digital_market">
                                                        </div>
                                                        <div id="branding"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/tools.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">Branding</p>
                                                            <input type="radio" id="projectType" name="projectType"
                                                                value="branding">
                                                        </div>
                                                        <div class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;" href="#step4" data-toggle="tab"
                                                            data-step="4" onclick="window.location.href = '/services';">
                                                            <img src="images/content/icon/lightbulb.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">Learn More</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>

                                                <a class="btn btn-purple btn-lg next" href="#step2" data-toggle="tab"
                                                    data-step="2">Continue</a>
                                            </div>
                                            <div class="tab-pane fade" id="step2" data-step="2">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-purple" role="progressbar"
                                                        aria-valuenow="1" aria-valuemin="1" aria-valuemax="5"
                                                        style="width: 40%;">
                                                        Step 2 of 4
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Is this a new or existing project?</h3>
                                                    </div>
                                                    <div class="panel-body" style="padding: 50px">
                                                        <div id="new_project"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/document.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">New Project</p>
                                                            <input type="radio" id="projectLevel" name="projectLevel"
                                                                value="new_project">
                                                        </div>
                                                        <div id="existing_project"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/documents.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">Exiting Project</p>
                                                            <input type="radio" id="projectLevel" name="projectLevel"
                                                                value="existing_project">
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <a class="btn btn-purple btn-lg next" href="#step3" data-toggle="tab"
                                                    data-step="3">Continue</a>
                                            </div>

                                            <div class="tab-pane fade" id="step3">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-purple" role="progressbar"
                                                        aria-valuenow="1" aria-valuemin="1" aria-valuemax="5"
                                                        style="width: 80%;">
                                                        Step 3 of 4
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">How soon do you want us to start?</h3>
                                                    </div>
                                                    <div class="panel-body" style="padding: 50px">
                                                        <div id="now"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/clock.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">Now</p>
                                                            <input type="radio" id="projectDuration"
                                                                name="projectDuration" value="now">
                                                        </div>
                                                        <div id="1_week"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30">
                                                            <img src="images/content/icon/alarmclock.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">1 Week</p>
                                                            <input type="radio" id="projectDuration"
                                                                name="projectDuration" value="1_week">
                                                        </div>
                                                        <div id="1_month"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/hourglass.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">One Month</p>
                                                            <input type="radio" id="projectDuration"
                                                                name="projectDuration" value="1_month">
                                                        </div>
                                                        <div id="2_months"
                                                            class="step-form col-md-3 text-center padding-bottom10 padding-top30"
                                                            style="cursor: pointer;">
                                                            <img src="images/content/icon/calendar.png"
                                                                class="img-responsive" style="margin: 0 auto">
                                                            <p class="margin-top10">2 Months</p>
                                                            <input type="radio" id="projectDuration"
                                                                name="projectDuration" value="2_months">
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <a class="btn btn-purple btn-lg next" href="#step5" data-toggle="tab"
                                                    data-step="5">Continue</a>
                                            </div>
                                            <div class="tab-pane fade" id="step5">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-purple" role="progressbar"
                                                        aria-valuenow="1" aria-valuemin="1" aria-valuemax="5"
                                                        style="width: 100%;">
                                                        Step 4 of 4
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Create your account.</h3>
                                                    </div>
                                                    <div class="panel-body" style="padding: 50px">
                                                        <!-- <form method="post" action="digital.php?id=1"> -->

                                                        <div class="form-group">
                                                            <label class="text-muted" for="project_title">Project
                                                                Title:</label>
                                                            <input type="text" class="form-control" id="project_title"
                                                                name="title" placeholder="Your Project Title">
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="text-muted" for="name">Full Name:</label>
                                                            <input type="text" class="form-control" id="fullname"
                                                                name="fullname" placeholder="Your Full Name">
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="text-muted" for="email">Email
                                                                Address:</label>
                                                            <input type="email" class="form-control" id="email"
                                                                name="email" placeholder="Your Email Address">
                                                        </div>

                                                        <!-- <div class="form-group">
                                                            <label class="text-muted" for="name">Existing user?</label>
                                                            <input type="checkbox" id="new_existing">
                                                        </div> -->

                                                        <!-- <div id="register" class="register">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="name">Full Name:</label>
                                                                <input type="text" class="form-control" id="fullname"
                                                                    name="fullname" placeholder="Your Full Name">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="text-muted" for="email">Email
                                                                    Address:</label>
                                                                <input type="email" class="form-control" id="email"
                                                                    name="email" placeholder="Your Email Address">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="text-muted" for="password">Phone:</label>
                                                                <input type="text" class="form-control" id="phone"
                                                                    name="phone" placeholder="Your Phone">
                                                            </div>
                                                        </div>

                                                        <div style="display:none" id="login" class="login">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="email">Email
                                                                    Address:</label>
                                                                <input type="email" class="form-control" id="email"
                                                                    name="email" placeholder="Your Email Address">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="text-muted" for="password">Password:</label>
                                                                <input type="password" class="form-control" id="password"
                                                                    name="password" placeholder="Your Password">
                                                            </div>
                                                        </div> -->



                                                        <div class="checkbox">
                                                            <label><input type="checkbox"> I accept 5 Digital
                                                                Digital
                                                                <a href="/terms" class="text-success"><span
                                                                        style="color: #78004f"><strong>Terms of
                                                                            Use</strong></span></a></label>
                                                        </div>
                                                        <input type="submit" name="submit" value="submit" />
                                                        <!-- </form> -->

                                                    </div>
                                                </div>
                                                <hr>
                                                <!-- <a class="btn btn-purple btn-lg first" href="#">Submit</a> -->
                                            </div>
                                        </div>

                                    </div><!-- /middle-wizard -->

                                </form>
                            </div><!-- /Wizard container -->
                        </div>
                    </div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>



        <div id="testimonials" class="padding-top60 padding-bottom60">

            <!-- .container -->
            <div class="container">

                <!-- .carousel-slider -->
                <div class="carousel-slider carousel-testimonials">

                    <div class="slick-slide">
                        <!-- 1 -->
                        <div class="affa-testimonial">
                            <p>"Sisibole relies on 5 Digital Digital for its digital marketing expertise, particularly
                                in
                                the areas of SEO and social media marketing. Their team is knowledgeable, responsive and
                                committed to supporting our initiatives, making them invaluable partners in our effort
                                to promote brand awareness"</p>
                            <h4>Faith Azorbo<span> - CEO, Sisibole</span></h4>
                        </div>
                    </div>

                    <div class="slick-slide">
                        <!-- 2 -->
                        <div class="affa-testimonial">
                            <p>"5 Digital Digital has been instrumental in increasing our online visibility and lead
                                generation from ad campaigns and organic search. We are continuously impressed with
                                their level of service and consider them a key marketing partner in helping drive our
                                business. They are not only proactive and responsive, but also at the forefront of
                                thought leadership in the search engine marketing space."</p>
                            <h4><span>CEO, Akasa</span></h4>
                        </div>
                    </div>

                </div>
                <!-- .carousel-slider end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- #testimonials end -->



    </div>
    <!-- #content end -->


    <!-- Footer Start -->
    <% include ../partials/footer %>
    <!-- Footer End -->

    </div>
    <!-- #body-wrap end -->

    <a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


    <!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugin.min.js"></script>


    <script type="text/javascript">
        $.fn.toggleCheckbox = function () {
            this.attr('checked', !this.attr('checked'));
        }
        $(".step-form").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        });
        $('.step-form').click(function (event) {
            $('.step-form').not(function () {
                $(this).removeClass('clicked');
                // form.remove(input);
            })
            $(this).toggleClass('clicked');
            if (event.target.tagName != 'INPUT') {
                $(this).find("input").toggleCheckbox();
                return false;
            }
        });

        $(document).ready(function () {
            $('#new_existing').change(function () {
                if (this.checked){
                    $('#login').fadeIn('slow');
                    $('#register').fadeOut('slow');
                }
                else{
                    $('#register').fadeIn('slow');
                    $('#login').fadeOut('slow');
                }
            });
        });
    </script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/response.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>



</body>

</html>