<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->


<!-- Mirrored from affapress.com/templates/unicom_responsive_multi_purpose_template/html/page-contact-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2017 12:04:27 GMT -->

<head>

    <!-- Your Basic Site Informations -->
    <title>services | Nigeria Web Designers Nigeria Web Design Nigeria portharcourt</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="5 Digital is a Nigeria&#039;s long established web design and digital marketing agency, award winning web design and development, high-end professional website design, Ecommerce and CMS systems as well as branding and graphic design solutions for the private and public sector">
    <meta name="keywords"
        content="best website designers in nigeria,best website designers in portharcourt ,web site design, website design, where to print in portharcourt,Facebook marketing in Nigeria,logo design,SEO,cms builders in nigeria, content management system builders in nigeria,">
    <meta name="author" content="5 Digital">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>
        <link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1782363558696861', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '406457143088640'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Start of Zoho Pixel Code -->
    <script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
    </script>
    <!-- End of Zoho Pixel Code -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


</head>

<body>


    <!-- Header Start -->
    <% include ../partials/header %>
    <!-- Header End -->

    <!-- .sub-header -->
    <div class="sub-header">

        <!-- .container -->
        <div class="container">

            <h4 class="header-title">Our Services</h4>
            <div class="breadcrumbs">
                <a href="/">Home</a> <span class="sep">/</span> <span class="current">Services</span>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- .sub-header end -->

    </header>
    <!-- #header end -->

    <!-- #content -->
    <div id="content">

        <div id="features4" class="bg-grey section-wrap padding-top80">

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">

                    <div class="col-sm-4 img-padding-xs">
                        <figure class="margin-bottom50-min margin-bottom50-xs animation"
                            data-animation="animation-slide-in-left">
                            <img src="images/content/bg/web_design_sm.png" alt="Image">
                        </figure>
                    </div>

                    <div class="col-sm-7 col-md-6 col-lg-5 col-sm-offset-1 col-lg-offset-2">
                        <div
                            class="padding-top40-sm padding-top40-md padding-top70-lg margin-bottom140-xs text-center-xs">
                            <div class="post-heading-left margin-bottom20">
                                <h2 style="color: #a10067">Web Design</h2>
                                <p>What is a website? At its simplest, a website is an electronic business address. But
                                    much more than that, it is an address that is always open. Paul Cookson remarks that
                                    a website promotes your business 24/7! Even when a section of the world sleeps, your
                                    website is always up, promoting your business across different time zones. A website
                                    is your window to the world!</p>
                            </div>
                            <p>At 5 Digital, we make web development amazingly simple! From hosting to design, we create
                                engaging websites that project your brand giving you that signature online presence to
                                take your business higher. With rich hands-on experience spanning over a decade, we
                                present your brand to the world with livid colors, finely juxtaposed contents and easy
                                to navigate interactive web pages which make for satisfying user experience.</p>
                            <div class="margin-top30-lg"></div>
                            <a href="/web-design" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i
                                    class="ion ion-arrow-right-b"></i></a>
                            <div class="margin-bottom100-lg"></div>
                        </div>
                    </div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- #features4 end -->
        <div id="features5">

            <!-- .affa-col-half -->
            <div class="affa-col-half col-img-right">

                <figure class="col-img" style="background-image:url(images/content/bg/digital_marketing_sm.jpg);">
                </figure>

                <!-- .container -->
                <div class="container">

                    <!-- .row -->
                    <div class="row">

                        <div class="col-md-6">
                            <div
                                class="padding-top60 padding-top110-md padding-top140-lg padding-bottom50 padding-bottom100-md padding-bottom130-lg text-center-xs">
                                <div class="post-heading-left margin-bottom30">
                                    <h2 style="color: #f26300">Digital Marketing</h2>
                                </div>
                                <p class="text-md">Digital Marketing is one of the major segments of our business at
                                    5 Digital. We guide you through the digital waters of online marketing to bring your
                                    business to your preferred customers in the shortest time at reduced cost. We serve
                                    our clients through value addition, ensuring that our services positively impact
                                    your bottom-line. If you are seeking innovative ways to reach your customers at the
                                    individual level or win over new customers, you have come to the right Agency.
                                    Welcome to 5 Digital.</p>

                                <div class="margin-top30-lg"></div>
                                <hr>
                                <div class="panel-group affa-panel-group margin-bottom40">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="/facebook-market" class="digital_links">Facebook Marketing</a>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="/seo" class="digital_links">Search Engine Optimization (SEO)</a>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="/ppc" class="digital_links">Pay Per Click</a>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="/email-market" class="digital_links">Email Marketing</a>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="margin-top60-lg"></div>
                                <a href="/digital-market" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i
                                        class="ion ion-arrow-right-b"></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- .row end -->

                </div>
                <!-- .container end -->

            </div>
            <!-- .affa-col-half end -->

        </div>

        <div id="features4" class="bg-grey section-wrap padding-top80">

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">

                    <div class="col-sm-4  img-padding-xs">
                        <figure class="margin-bottom50-min margin-bottom50-xs animation"
                            data-animation="animation-slide-in-left">
                            <img src="images/content/bg/branding_sm.png" alt="Branding">
                        </figure>
                    </div>

                    <div class="col-sm-7 col-md-6 col-lg-5 col-sm-offset-1 col-lg-offset-2">
                        <div
                            class="padding-top80-sm padding-top90-md padding-top140-lg margin-bottom80-xs text-center-xs">
                            <div class="post-heading-left margin-bottom20">
                                <h2 style="color: #a10067">Branding</h2>
                                <p>Branding is the expression of the essential truth or value of a brand; be it an
                                    organization, product, or service. It is the communication of the characteristics,
                                    values, and attributes of a particular brand.If you are starting a new company one
                                    of the most important things you can do is make sure to get your branding correct.
                                    Or if your business has been around and is somewhat stuck in the mud, then it is
                                    time for rebranding!</p>
                            </div>
                            <p>At 5 Digital, we help you answer these questions and walk with you through the entire
                                branding process whether it is for a new business or rebranding an old one. We use the
                                tools of the physical aspects of branding to reach the abstract aspect, makingyour
                                customers evangelists of your brand.
                                Brand or Rebrand your Business with us Today!
                            </p>
                            <div class="margin-top30-lg"></div>
                            <a href="/branding" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i
                                    class="ion ion-arrow-right-b"></i></a>
                            <div class="margin-bottom100-lg"></div>
                        </div>
                    </div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>

        <div id="features3" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080"
            data-image-src="images/content/bg/1.jpg">
            <div class="bg-dark-overlay90 text-white padding-top100 padding-bottom60">

                <!-- .container -->
                <div class="container">

                    <!-- .row -->
                    <div class="row">

                        <!-- .col -->
                        <div class="col-sm-6">

                            <h4 class="text-uppercase margin-bottom40">Why Choose Us?</h4>

                            <div class="panel-group affa-panel-group margin-bottom40" id="accordion" role="tablist"
                                aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">Creative Solutions</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>Part of our edge as a business is creative intelligence. Beyond
                                                approaching your business from a problem-solvingperspective,we create
                                                unique solutions to give your business that futuristic edge. To your
                                                current business challenges, weproffer nascent, revised and tested
                                                solutions.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">Timely Delivery</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p>Barring Force Majeure, we deliver timely on our projects. At 5 Digital, our
                                                word is our bond. Should circumstances arise that compels us to renege
                                                on project delivery, we communicate such to our clients ahead of time to
                                                forestall delivery shocks.Not only do we apply our attention to detail
                                                to our building work, but to all project management as well.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">Seasoned Team</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p>5 Digital boasts of a robustteam of globally trained and internationally
                                                exposed professionals with hands-on experience spanning over a decade.
                                                With bankable dedication to duty, you can rest assured that your
                                                projects are in safe hands who pay attention to details.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFourth">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseFourth" aria-expanded="false"
                                                aria-controls="collapseFourth">Proven Expertise</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFourth" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingFourth">
                                        <div class="panel-body">
                                            <p>For over a decade, drawing from the synergy of our combined expertise, we
                                                have served a wide array of clients through our rich business portfolio
                                                from Web Design to Digital Marketing to Independent Consulting. So
                                                whichever aspect of our business provides you with service(s), you can
                                                rest assured that we are bringing a wealth of experience to give you the
                                                results you desire and much more.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">Client Care/Support</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingFive">
                                        <div class="panel-body">
                                            <p>We are an enthusiastic company with friendly staff. We do not just throw
                                                our products or services at you and leave you to it, we are always
                                                aphone call or an email awayto provide you with support all the way,
                                                taking the hassles away so your business can focus on its strengths and
                                                function at its best.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">Optimum Pricing</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingSix">
                                        <div class="panel-body">
                                            <p>We serve our clients through value-addition and our charges are
                                                appreciably commensurate with our value propositions and just about the
                                                best you can get from the best in the industry.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- .col end -->

                        <!-- .col -->
                        <div class="col-sm-6">

                            <h4 class="text-uppercase margin-bottom40">Our Team Skills</h4>

                            <div class="affa-progress-bar">
                                <!-- 1 -->
                                <p>Web Design</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:90%;">90%</div>
                                    <span class="bar-line-val" style="left:90%;"><i>90</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 3 -->
                                <p>Digital Marketing</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:95%;">95%</div>
                                    <span class="bar-line-val" style="left:95%;"><i>95</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 4 -->
                                <p>Branding</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:90%;">90%</div>
                                    <span class="bar-line-val" style="left:90%;"><i>90</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 5 -->
                                <p>Facebook Marketing</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:80%;">80%</div>
                                    <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 5 -->
                                <p>Search Engine Optimization</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:80%;">80%</div>
                                    <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                                </div>
                            </div>

                            <div class="affa-progress-bar">
                                <!-- 5 -->
                                <p>Email Marketing</p>
                                <div class="progress-bar-line in">
                                    <div class="bar-line-overlay" style="width:80%;">80%</div>
                                    <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                                </div>
                            </div>

                        </div>
                        <!-- .col end -->

                    </div>
                    <!-- .row end -->

                </div>
                <!-- .container end -->

            </div>
        </div>

        <div id="testimonials" class="padding-top60 padding-bottom60">

            <!-- .container -->
            <div class="container">

                <!-- .carousel-slider -->
                <div class="carousel-slider carousel-testimonials">

                    <div class="slick-slide">
                        <!-- 1 -->
                        <div class="affa-testimonial">
                            <p>"Sisibole relies on 5 Digital Digital for its digital marketing expertise, particularly in
                                the areas of SEO and social media marketing. Their team is knowledgeable, responsive and
                                committed to supporting our initiatives, making them invaluable partners in our effort
                                to promote brand awareness"</p>
                            <h4>Faith Azorbo<span> - CEO, Sisibole</span></h4>
                        </div>
                    </div>

                    <div class="slick-slide">
                        <!-- 2 -->
                        <div class="affa-testimonial">
                            <p>"5 Digital Digital has been instrumental in increasing our online visibility and lead
                                generation from ad campaigns and organic search. We are continuously impressed with
                                their level of service and consider them a key marketing partner in helping drive our
                                business. They are not only proactive and responsive, but also at the forefront of
                                thought leadership in the search engine marketing space."</p>
                            <h4><span>CEO, Akasa</span></h4>
                        </div>
                    </div>

                </div>
                <!-- .carousel-slider end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- #testimonials end -->



    </div>
    <!-- #content end -->


    <!-- Footer Start -->
    <% include ../partials/footer %>
    <!-- Footer End -->

    </div>
    <!-- #body-wrap end -->

    <a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


    <!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/response.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>





</body>

</html>