<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->


<!-- Mirrored from affapress.com/templates/unicom_responsive_multi_purpose_template/html/page-contact-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2017 12:04:27 GMT -->
<head>

    <!-- Your Basic Site Informations -->
    <title>privacy policy| Nigeria Web Designers Nigeria Web Design Nigeria portharcour</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="5 Digital is a Nigeria&#039;s long established web design and digital marketing agency, award winning web design and development, high-end professional website design, Ecommerce and CMS systems as well as branding and graphic design solutions for the private and public sector">
    <meta name="keywords" content="best website designers in nigeria,best website designers in portharcourt ,web site design, website design, where to print in portharcourt,Facebook marketing in Nigeria,logo design,SEO,cms builders in nigeria, content management system builders in nigeria">
    <meta name="author" content="5 Digital">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1782363558696861', {
em: 'insert_email_variable,'
});
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '406457143088640'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

<!-- Start of Zoho Pixel Code -->
<script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
</script>
<!-- End of Zoho Pixel Code -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


</head>
<body>


<!-- Header Start -->
<% include ../partials/footer %>
<!-- Header End -->

<!-- .sub-header -->
<div class="sub-header">

    <!-- .container -->
    <div class="container">

        <h4 class="header-title">Terms of Use</h4>
        <div class="breadcrumbs">
            <a href="http://www.5 Digital.com">Home</a>  <span class="sep">/</span> <a href="index.php">Digital Marketing</a>  <span class="sep">/</span> <span class="current">Terms of Use</span>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- .sub-header end -->

</header>
<!-- #header end -->

<!-- #content -->
<div id="content">

    <div id="features4" class="bg-white section-wrap padding-top40">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">
                <div class="col-sm-12 col-md-11 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="padding-top50-lg" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                    <p style="font-size: 18px" class="text-center">
                        5 Digital values your privacy and we will not disclose, share, sell or rent your personal information to a
                        third party without your consent. This privacy policy entails how we use, share and protect your Personable Identifiable
                        Information (PII) we obtain in accordance to our website.
                    </p>
                    <div class="padding-top40-lg" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                    <h5>Information Collected</h5>
                    <p>
                        We collect personal information such as name, email address, phone number and other details when making enquiries,
                        registering with our site, ordering products and purchasing products when you visit and use our site.
                    </p>

                    <h5>How the Information is used	</h5>
                    <p>
                        We use the information provided by you to respond quickly to your request,
                        process and deliver your order appropriately, communicate products and services that will interest you.
                    </p>

                    <h5>Updating your Personal Information</h5>
                    <p>
                        You can update your personal information after registering if the need arises.
                        You can also request to make these changes by contacting our customer service at the address provided in our Contact Us Section.
                    </p>

                    <h5>Our Cookie and Similar Files Policy</h5>
                    <p>
                        We use cookies, flash objects, E-tags and any other similar files by 5 Digital Digital only, we do not cover the use of cookies, flash objects, E-tags and any other similar files by third party advertiser or website linked on our platform.
                        If you decide to disable your cookies, some of features may also be disabled. We do not use cookies for tracking purposes.
                    </p>

                    <h5>Legal Disclosure</h5>
                    <p>We reserve the right to disclose your personal information if there is a legal document backing the action according to the laws of the province in which we operate.</p>

                    <h5>Third Party Links</h5>
                    <p>
                        We may decide to include third party links on our websites to other products and services.
                        However, if you decide to follow these links it is at your own discretion because they have their own privacy policy and content.
                        You are welcome to give us feedback based on these links.
                    </p>

                    <h5>Changes to our Privacy Policy</h5>

                    <p>
                        5 Digital Digital may revise, modify and post this policy from time to time on our website.
                        When this privacy policy has been revised, we will note it at the Home page. Please ensure to review this privacy policy regularly.
                    </p>

                    <div class="padding-top80-lg" data-desktop="80" data-mobi="60" data-smobi="60"></div>

                </div>
            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>



</div>
<!-- #content end -->


<!-- Footer Start -->
<% include ../partials/footer %>
<!-- Footer End -->

</div>
<!-- #body-wrap end -->

<a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


<!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

<!-- JavaScripts -->
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/response.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>



</body>

</html>