<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->


<!-- Mirrored from affapress.com/templates/unicom_responsive_multi_purpose_template/html/page-contact-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2017 12:04:27 GMT -->

<head>

    <!-- Your Basic Site Informations -->
    <title>Services - Social Media Management | Nigeria Digital Marketing Nigeria Digital Marketing Nigeria portharcourt
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="5 Digital is a Nigeria&#039;s long established Social Media Management and digital marketing agency, award winning Digital Marketing and development, high-end professional website design, Ecommerce and CMS systems as well as branding and graphic design solutions for the private and public sector">
    <meta name="keywords"
        content="best website designers in nigeria,best website designers in portharcourt ,web site design, website design, where to print in portharcourt,Facebook marketing in Nigeria,logo design,SEO,cms builders in nigeria, content management system builders in nigeria,">
    <meta name="author" content="5 Digital">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,300i,400,400i,500,700,900"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>
        <link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/fav.png">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1782363558696861', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1782363558696861&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Start of Zoho Pixel Code -->
    <script type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "12e03553a69d4e714a7ae23faf354c2e58cb94814109a700817f49173e1b4d03611b3e0f4f0ff9b31f560a7006f750d0", values: {}, ready: function () { $zoho.salesiq.floatbutton.visible('hide'); } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);
    </script>
    <!-- End of Zoho Pixel Code -->

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '406457143088640');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=406457143088640&ev=PageView
    &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TG7NV3J');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG7NV3J" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


</head>
<div>


    <!-- Header Start -->
    <% include ../../partials/header %>
    <!-- Header End -->

    <!-- .sub-header -->
    <div class="sub-header">

        <!-- .container -->
        <div class="container">

            <h4 class="header-title">Social Media Management</h4>
            <div class="breadcrumbs">
                <a href="http://www.5 Digital.com">Home</a> <span class="sep">/</span> <a
                    href="services.php">Services</a> <span class="sep">/</span> <span class="current">Social Media
                    Management</span>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- .sub-header end -->

    </header>
    <!-- #header end -->

    <!-- #content -->
    <div id="content">

        <div id="features4" class="bg-white section-wrap padding-top80">

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Overview</h4>
                                <hr>
                            </div>
                            <div class="col-sm-6 margin-bottom40">
                                <!-- 1 -->
                                <p class="margin-bottom20-lg">
                                    What is social media management? It is a process of creating, scheduling, analyzing
                                    and engaging with content posted on social media platforms lie Facebook, Instagram,
                                    Twitter, LinkedIn, Google+, etc.
                                </p>
                                <p>
                                    At 5Digital Marketing Agency, manage social media platforms such as Facebook,
                                    Instagram, Twitter, LinkedIn, Google+, Pintrest and YouTube. Our social media
                                    services include:
                                </p>

                            </div>

                            <div class="col-sm-6 margin-bottom40">
                                <!-- 2 -->
                                <!-- <p >
                                    A website provides a quick and easy way of communicating information between buyers
                                    and sellers.
                                    You can list your contact information, show images of your location or products, and
                                    use contact forms to facilitate enquiries from potential customers or feedback from
                                    existing ones.
                                    You can also upload promotional videos to really engage your customers and sell your
                                    business in an effective and cost efficient way.
                                    This is also a good way to promote your social media channels and build up a
                                    community with your customers.
                                </p> -->
                                <ul class="margin-bottom20-lg">
                                    <li>Monitoring the day to day activities of all your social media accounts</li>
                                    <li>Create and publish engaging content that best sells your brand</li>
                                    <li>Track and analyze your online presence and progress</li>
                                    <li>Optimize your social media accounts</li>
                                    <li>Reply enquiries from your online community</li>
                                    <li>Manage live conversations on all your social media accounts</li>
                                    <li>Boost your social media presence through paid adverts</li>
                                    <li>Monitor keywords and hashtags across all your social platforms</li>
                                  </ul> 

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget_categories">
                                <h4 class="widget-title">Other Services</h4>
                                <hr>
                                <ul>
                                    <li><a href="/facebook-market">Facebook Marketing</a></li>
                                    <li><a href="/seo">Search Engine Optimization (SEO)</a></li>
                                    <li><a href="/ppc">Pay Per Click</a></li>
                                    <li><a href="/email-market">Email Marketing</a></li>
                                    <li><a href="/braning">Branding</a></li>
                                    <li><a href="/print-media">Print Media</a></li>
                                    <li><a href="/web-design">Web Design</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- #features4 end -->



        <div class="affa-col-half text-white" style="background: #42004e">

            <figure class="col-img" style="background-image:url(images/content/bg/web_design_img.jpg);"></figure>

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 padding-top80 padding-bottom40">

                        <!-- .row -->
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="margin-bottom20-lg">At 5 Digital,</h3>
                            </div>
                            <div class="col-md-12">
                                <!-- 1 -->
                                <p>
                                    We make web development amazingly simple from hosting to design, creating engaging
                                    websites that project your brand;
                                    giving you that signature online presence to move your business higher.
                                    With a rich hands-on experience spanning over a decade, we present your brand to the
                                    world through livid colors, finely juxtaposed contents and easy to navigate
                                    interactive web pages that make for a satisfying user experience.We make life easy
                                    for your customers and keep them coming back.
                                    And we do all of these without burning a hole in your pocket!
                                </p>
                                <p>
                                    Our prices are favorably suited to various business needs and sizes. We cater to
                                    beginners and established enterprises;
                                    we build personal websites and commercial platforms; we build websites for sole
                                    proprietorships and for conglomerates.
                                    Whatever your website needs are, 5 Digital has got you covered. See our various
                                    plans below:
                                </p>
                                <div class="margin-bottom30-lg"></div>
                            </div>


                        </div>
                        <!-- .row end -->

                    </div>
                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>

        <div class="affa-col-half bg-white">

            <!-- .container -->
            <!-- <div class="container padding-top80-lg padding-bottom80-lg">

                <div class="post-heading-center">
                    <h2>Pricing</h2>
                    <p>We offer several convenient pricing options that fit your business needs. <br>Learn more about
                        our pricing packages!</p>
                </div>

                <ul class="nav nav-tabs affa-nav-tabs2 nav-tabs-center margin-bottom50" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#basic_price" aria-controls="basic_price" role="tab" data-toggle="tab">Basic</a>
                    </li>
                    <li role="presentation">
                        <a href="#intermediate_price" aria-controls="intermediate_price" role="tab"
                            data-toggle="tab">Intermediate</a>
                    </li>
                    <li role="presentation">
                        <a href="#premium_price" aria-controls="premium_price" role="tab" data-toggle="tab">Premium</a>
                    </li>
                    <li role="presentation">
                        <a href="#enterprise_price" aria-controls="enterprise_price" role="tab"
                            data-toggle="tab">Enterprise</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="basic_price">
                        <div class="row">

                            <div class="affa-tbl-pricing tbl-prc-recommended row margin-bottom40"
                                style="width: 70%; margin: 0 auto">

                                <div class="col-sm-6">
                                    <div class="tbl-prc-col">
                                        <div class="tbl-prc-heading">
                                            <h4>Basic</h4>
                                            <h5><span>&#8358;</span>70k</h5>
                                        </div>
                                        <ul class="tbl-prc-list list-icon">
                                            <li class="not"><i class="ion ion-checkmark-round"></i>One Year Free
                                                Registration</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>One Free Facebook
                                                Page Creation</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i> One free Email</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Basic Web Content
                                            </li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i> Hosting plan valid
                                                for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i><strong>Delivery: Six
                                                    (6) Weeks</strong></li>
                                        </ul>
                                        <div class="tbl-prc-footer">
                                            <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="tbl-prc-col tbl-prc-col-recommended">
                                        <h5 class="tbl-prc-badge">Best Seller</h5>
                                        <div class="tbl-prc-heading">
                                            <h4>Basic <span style="color: #960090">Plus</span></h4>
                                            <h5><span>&#8358;</span>90k</h5>
                                        </div>
                                        <ul class="tbl-prc-list list-icon">
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Registration
                                                valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Facebook Page
                                                Creation</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>1 Free Email valid
                                                for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Basic Web Content
                                            </li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>One year hosting plan
                                                Hosting</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i><strong>Delivery: Two
                                                    (2) Weeks</strong></li>
                                        </ul>
                                        <div class="tbl-prc-footer">
                                            <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="intermediate_price">
                        <div class="row">

                            <div class="affa-tbl-pricing tbl-prc-recommended row margin-bottom40"
                                style="width: 70%; margin: 0 auto">

                                <div class="col-sm-6">
                                    <div class="tbl-prc-col">
                                        <div class="tbl-prc-heading">
                                            <h4>Intermediate</h4>
                                            <h5><span>&#8358;</span>110k</h5>
                                        </div>
                                        <ul class="tbl-prc-list list-icon">
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Domain
                                                Registration valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Facebook page
                                                Creation</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Five Free Email
                                                Registrations and Setup valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Dynamic Web Content
                                                and Pages</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Hosting valid for One
                                                Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Five Months Customer
                                                Support</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i><strong>Delivery:
                                                    Eight (8) Weeks</strong></li>
                                        </ul>
                                        <div class="tbl-prc-footer">
                                            <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="tbl-prc-col tbl-prc-col-recommended">
                                        <h5 class="tbl-prc-badge">Best Seller</h5>
                                        <div class="tbl-prc-heading">
                                            <h4>Intermediate <span style="color: #960090">Plus</span></h4>
                                            <h5><span>&#8358;</span>150k</h5>
                                        </div>
                                        <ul class="tbl-prc-list list-icon">
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Domain
                                                Registration valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>One Free Facebook
                                                Page Creation</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Five Free Email
                                                Registrations and Setup valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Dynamic Web Content
                                                and Pages</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Hosting valid for One
                                                Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Five Months Customer
                                                Support</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i><strong>Delivery:
                                                    Four (4) Weeks</strong></li>
                                        </ul>
                                        <div class="tbl-prc-footer">
                                            <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="premium_price">
                        <div class="row">

                            <div class="affa-tbl-pricing tbl-prc-recommended row margin-bottom40"
                                style="width: 70%; margin: 0 auto">

                                <div class="col-sm-6">
                                    <div class="tbl-prc-col">
                                        <div class="tbl-prc-heading">
                                            <h4>Premium</h4>
                                            <h5><span>&#8358;</span>170k</h5>
                                        </div>

                                        <ul class="tbl-prc-list list-icon">
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Facebook Page
                                                Creation</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Domain
                                                Registration valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Seven Free Email
                                                Registrations and Setup valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Two Months Free Off
                                                Page and on page SEO and Search Ranking</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Dynamic Web Content
                                            </li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Third Party Plugins
                                                (E-commerce Friendly)</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>10 Gb Server Space
                                            </li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Seven Months Customer
                                                Support</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i><strong>Delivery: Ten
                                                    (10) Weeks</strong></li>
                                        </ul>
                                        <div class="tbl-prc-footer">
                                            <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="tbl-prc-col tbl-prc-col-recommended">
                                        <h5 class="tbl-prc-badge">Best Seller</h5>
                                        <div class="tbl-prc-heading">
                                            <h4>Premium <span style="color: #960090">Plus</span></h4>
                                            <h5><span>&#8358;</span>250k</h5>
                                        </div>
                                        <ul class="tbl-prc-list list-icon">
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Facebook Page
                                                Creation</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Free Domain
                                                Registration valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Seven Free Email
                                                Registrations and Setup valid for One Year</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Two Months Free Off
                                                Page and on page SEO and Search Ranking</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Dynamic Web Content
                                            </li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Third Party Plugins
                                                (E-commerce Friendly)</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>10 Gb Server Space
                                            </li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i>Seven Months Customer
                                                Support</li>
                                            <li class="not"><i class="ion ion-checkmark-round"></i><strong>Delivery:
                                                    Four (4) Weeks</strong></li>
                                        </ul>
                                        <div class="tbl-prc-footer">
                                            <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="enterprise_price">
                        <div class="row">

                            <div style="width: 70%; margin: 0 auto">
                                <div class="well">
                                    This a custom solution modified to meet your specific needs
                                    <div class="margin-bottom20-lg"></div>
                                    <a href="/new-project" class="btn-custom">Start a Project Now!</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div> -->

        </div>


    </div>
    <!-- #content end -->


    <!-- Footer Start -->
    <% include ../../partials/footer %>
    <!-- Footer End -->

</div>
<!-- #body-wrap end -->

<a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->


<!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

<!-- JavaScripts -->
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/response.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.scroll-with-ease.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>



</body>

</html>